<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olha Tryhub CV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<!--<img src="{{ url_for('static', filename='photo.jpg') }}">-->
<h1>{{name}}</h1>
<h3>{{position}}</h3>
<h2>Contacts</h2>
<ul>
    {% for contact, link in contacts %}
        {% if link %}
            <li><a href={{link}}>{{contact}}</a></li>
        {% else %}
            <li>{{contact}}</li>
        {% endif %}
    {% endfor %}
</ul>

<h2>Summary</h2>
<p>{{summary}}</p>

<h2>Skills</h2>
<table border="1">
    {% for i in range(0, skills|length, 3) %}
        <tr>
            {% for j in range(3) %}
                {% if i + j < skills|length %}
                    <td>{{ skills[i + j] }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<h2>Projects</h2>
{% for project, link in projects %}
    <a href={{link}}>{{project}}</a>
{%endfor%}
</body>
</html>
