<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Мій Django сайт{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/school/home/">Головна сторінка</a> |
            <a href="/school/teachers/">Вчителі</a>
            <a href="/school/students/">Учні</a>
            <a href="/school/classrooms/">Класи</a>
        </nav>
    </header>
    <hr>
    <main>
        {% block content %}{% endblock %}
    </main>
    <hr>
    <footer>
        <p>© 2025</p>
    </footer>
</body>
</html>
